<div class="panel panel-default" ng-controller="EventsCtrl">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw" style="color:#428bca;"></i> {{title}}
    </div>

    <div class="slide-animate-container">
        <div class="panel-body">
            <div class="list-group">
                <a href="#" class="list-group-item"  ng-repeat="event in events">
                    <i class="fa {{event.icon}} fa-fw" style="color: {{event.color}}"></i> {{event.text}}
                    <span class="pull-right text-muted small"><em>{{event.time}}</em>
                    </span>
                </a>
            </div>
            
            <!-- <a href="#" class="btn btn-default btn-block" ng-click="refresh()">Refresh</a> -->

            <button class="btn btn-primary btn-block" ng-click="requestControl()">Request Camera Control</button>
        </div>
    </div>
</div>